body{
    background-color: rgb(143, 189, 233);
    font-size: 22px;
    font-family:'Times New Roman', Times, serif;
     }

img {
    float: left;
    border: 5px;
    margin: 15px;
    padding: 5px;
}
#Texto1{
    border: 5px;
    background-color: rgb(224, 111, 158);
}
#Caja1{
    background-color: brown;
    width: 500px;
    height: 700px;
}

#Caja2{
    background-color: rgb(38, 189, 70);
    width: 500px;
    height: 700px;
}
     width: ;
    height: ;
    color: ;
    
    float: ;
    margin: ;
    border: ;
    padding: ;


    h1
    h2
    imagen

parrafo 300
dos cajas
texto 300 palabras